/* ******************** */
/* RESETS AND VARIABLES */
/* ******************** */

:root {
  --type-base: calc(1.4em + 0.3vw);
  --type-height: calc(1.4em + 0.3vw);
  --type-xxxx-small: 30%;
  --type-xxx-small: 55%;
  --type-xx-small: 65%;
  --type-x-small: 75%;
  --type-small: 85%;
  --type-medium: 100%;
  --type-large: 120%;
  --type-x-large: 160%;
  --type-xx-large: 200%;
  --type-xxx-large: 300%;
  --type-xxxx-large: 400%;
  --blue: #51c6fc;
  --light-blue: #bde9fd;
  --dark-grey: #505050;
  --light-grey: #e6e6e4;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
} @supports (display: grid) {
    html {font-size: 10px;}
}

body {
    margin: 0;
    font-size: var(--type-base);
    color: var(--dark-grey);
}

a {
    text-decoration: none;
    color: var(--dark-grey);
}

a:hover {
    color: var(--blue);
}

p a, .text-col ul a {
    text-decoration: underline;
    color: #0000ed;
}

.text-col ul a:hover {
    color: var(--blue);
}

/* ************* */
/* GLOBAL STYLES */
/* ************* */

h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: var(--type-xxx-large);
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: var(--type-x-large);
    font-weight: 600;
}

h3 {
    margin: 0 0 10px 0;
    font-size: var(--type-large);
    font-weight: 500;
}

header {
    box-shadow: 2px 2px 5px 1px var(--light-grey);
}

.wrapper {
    width: 100%;
}

.header-container {
    width: 95%;
    max-width: 1200px;
    margin: auto;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 10px 0 40px 0;
}

.container h2, .container h3 {
    text-align: center;
}

.grey {
    background-color: var(--light-grey);
}

.blue {
    background-color: var(--blue);
    color: #fff;
}

i {
    padding-right: 5px;
}

.btn {
    text-align: center;
    text-transform: uppercase;
    display: block;
    padding: 15px;
    background-color: none;
    color: var(--blue);
    border-radius: 5px;
    margin: 30px auto;
    width: 100%;
    max-width: 595px;
    text-decoration: none;
    border: 1px solid var(--blue);
    transition: all 500ms ease 0s;
}

.btn:hover {
    background-color: var(--blue);
    color: #fff;
}

.btn-blue {
    color: #fff;
    background-color: var(--blue);
}

.btn-blue:hover {
    color: var(--blue);
    background-color: #fff;
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.btn-container .btn {
    margin: 0 auto 20px auto;
}

.separator {
    height: 2px;
    background-color: #fff;
    margin: 10px auto;
    width: 50%;
}

.sublist {
    list-style-type: lower-alpha;
    margin-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
}

.modal-header {
    padding: 1em 2.5%;
    background-color: var(--blue);
    color: #fff;
    text-align: center;
}

.modal-header h2 {
    margin: 0;
}

.modal-body {
    padding: 1em 2.5%;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 0 auto;
    border: 1px solid #888;
    width: 90%;
    max-width: 1200px;
}

#close {
    color: #fff;
    float: right;
    font-size: var(--type-x-large);
    padding: 0 10px;
}

#close:hover, #close:focus {
    cursor: pointer;
}

/* ************ */
/* MODULE SYLES */
/* ************ */

.banner {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.breadcrumbs {
    width: 100%;
    height: 50px;
    font-size: var(--type-small);
    display: flex;
    align-items: center;
}

.breadcrumb-contents {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.breadcrumb-contents a {
    color: white;
}

.breadcrumb-contents a:hover {
    text-decoration: underline;
}

.one-col {
    line-height: var(--type-height);
}

.two-col {
    width: 100%;
    padding-bottom: 0;
}

.text-col {
    width: 90%;
    margin: auto;
    line-height: var(--type-height);
}

.image-col {
    margin: 0 0 -5px 0;
}

.map-col {
    width: 90%;
    margin: 0 auto;
    line-height: var(--type-height);
}

.testimonial-wrapper {
    background-color: rgba(216, 221, 230, 0.4);
    padding: 3%;
    border-left: 6px solid #fff;
    text-align: left;
    width: 85%;
    margin: auto;
}

.testimonial-wrapper:before {
    content: open-quote;
    display: inline;
    line-height: 0;
    left: 0;
    position: relative;
    top: 30px;
    color: #fff;
    font-size: var(--type-xxx-large);
  }

.heading {
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--light-blue);
}

.heading h1 {
    color: var(--dark-grey);
    text-decoration: none;
    text-transform: none;
    width: 90%;
}

.faq {
    padding-top: 15px;
    margin-bottom: 40px;
}

.faq h2, #privacy h2, #privacy h3 {
    text-align: left;
}

.index {
    margin-bottom: 20px;
}

.index-heading {
    background-color: var(--blue);
    color: #fff;
    padding: 15px 0;
    border-radius: 5px 5px 0 0;
}

.index-body {
    background-color: var(--light-blue);
    border-radius: 0 0 5px 5px;
}

.index h3 {
    margin: 0;
}

.index ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: var(--type-medium);
}

.index li {
    border-top: 1px solid var(--blue);
}

.index li:first-child {
    border-top: none;
}

.index a {
    padding: 0 15px;
    display: flex;
    align-items: center;
    height: 60px;
}

.index a:hover {
    background-color: var(--blue);
    color: #fff;
}

.qa-box {
    margin-bottom: 20px;
    background-color: var(--light-blue);
    border-radius: 5px;
}

.qa-q {
    text-align: left;
    padding: 15px;
    background-color: var(--blue);
    color: #fff;
    border-radius: 5px 5px 0 0;
}

.qa-q h3 {
    text-align: left;
    margin: 0;
}

.qa-box p {
    margin-top: 5px;
}

.qa-a {
    padding: 10px 15px;
    line-height: var(--type-height);
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
}

.filters {
    padding: 20px 10px 10px 10px;
    margin: 20px 0 10px 0;
    background-color: var(--light-blue);
}

.filter {
    font-size: var(--type-small);
    display: inline-block;
    margin: 0 0 10px 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
}

.filters .weekly-tips-color:hover {
    background-color: red;
    color: white;
    border: 1px solid red;
}

.filters .another-cat-color:hover {
    background-color: blue;
    color: white;
    border: 1px solid blue;
}

.filters .all-color:hover {
    background-color: var(--dark-grey);
    color: white;
    border: 1px solid var(--dark-grey);
}

.cat {
    font-size: var(--type-small);
    align-self: flex-start;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid;
}

.all-color {
    transition: all 500ms ease 0s;
}

.no-cat-color {
    border: none;
}

.weekly-tips-color {
    color: red;
    transition: all 500ms ease 0s;
}

.another-cat-color {
    color: blue;
    transition: all 500ms ease 0s;
}

.card {
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px var(--dark-grey);
    display: grid;
    background-color: #fff;
    margin-bottom: 30px;
}

.card img {
    border-radius: 5px 5px 0 0;
}

.card-text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text p {
    margin: 5px 0;
}

.card h3 {
    text-align: left;
}

.card .btn {
    margin-bottom: 0;
}

.video-caption {
    text-align: center;
}

.video-caption iframe {
    margin-bottom: -9px;
}

.video-caption p {
    margin: 0 0 30px 0;
    padding: 15px 2.5%;
    background-color: var(--light-blue);
}

.icon-list-container {
    width: 95%;
    background-color: var(--light-blue);
    border-left: 7px solid var(--blue);
    padding: 25px 20px;
    margin-bottom: 50px;
}

.icon-list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid var(--blue);
    margin: auto;
}

.icon-list-list ul {
    padding-left: 15px;
}

.icon-list-list li {
    margin-bottom: 10px;
}

.info-box {
    background-color: var(--light-blue);
    padding: 7% 5%;
    border-radius: 5px;
}

.info-outer {
    background-color: var(--blue);
    color: #fff;
    border-left: 7px solid #fff;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.info-left {
    width: 100%;
    text-align: center;
    justify-self: center;
    padding: 20px;
}

.info-right {
    padding: 0 5% 5% 5%;
}

.tight-top {
    padding-top: 0;
}

.tight-bottom {
    padding-bottom: 0;
}

.tight-both {
    padding-top: 0;
    padding-bottom: 0;
}

.loose-top {
    padding-top: 40px;
}

.loose-bottom {
    padding-bottom: 40px;
}

@media only screen and (min-width: 750px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 5%;
    }

    .cards h2 {
        grid-area: 1 / 1 / span 1 / span 2;
    }

    .filters {
        grid-area: 2 / 1 / span 1 / span 2;
    }
}

@media only screen and (min-width: 1000px) {
    .one-col {
        max-width: 1000px;
    }

    .center {
        text-align: center;
    }

    .two-col {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        grid-gap: 0 5%;
        width: 95%;
        max-width: 1200px;
        text-align: left;
        padding-bottom: 40px;
    }

    .l-r {
        grid-row-start: 1;
        grid-column-start: 2;
    }

    .r-l {
        grid-row-start: 1;
        grid-column-start: 1;
    }

    .two-col h2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .two-col h3 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .text-col, .image-col {
        width: 100%;
        max-width: 595px;
        margin: 0;
    }

    .image-col {
        align-self: center;
        padding: 30px 0;
    }

    .map-col {
        width: 100%;
    }

    .image-col img {
        box-shadow: 2px 2px 5px 1px var(--dark-grey);
    }

    .two-col-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .side-col {
        display: grid;
        grid-template-columns: 2fr 5fr;
        grid-gap: 2.5%;
        width: 95%;
        max-width: 1200px;
        padding: 40px 0;
    }

    .index ul {
        font-size: var(--type-x-small);
    }

    .cards {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 5%;
    }

    .cards h2 {
        grid-area: 1 / 1 / span 1 / span 3;
    }

    .filters {
        grid-area: 2 / 1 / span 1 / span 3;
    }

    .qa-tiles {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        align-items: stretch;
    }

    .info-outer {
        grid-template-columns: 1fr 4fr;
    }

    .info-right {
        padding: 20px 20px 20px 0;
    }

    .info-right p {
        padding-left: 20px;
        border-left: 2px solid white;
    }

    .tight-top {
        padding-top: 0;
    }
    
    .tight-bottom {
        padding-bottom: 0;
    }
    
    .tight-both {
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* ************* */
/* HEADER STYLES */
/* ************* */

#contact-details {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-bar {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    text-align: center;
    height: 100px;
}

#logo {
    grid-column-start: 2;
}

#logo img {
    max-height: 98px;
    width: auto;
}

#main-nav, #times, #osteo-minus, #osteo-up, #pilates-minus, #pilates-up, #email {
    display: none;
}

#main-nav i {
    vertical-align: middle;
}

#mobile-nav {
    display: none;
    background-color: var(--blue);
    margin: -2px -2.5% 0 -3%;
    padding-bottom: 5px;
}

nav {
    z-index: 100;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    font-size: var(--type-medium);
    padding: 2px;
    color: var(--dark-grey);
    margin-left: 2px;
    text-align: left;
}

nav a {
    padding: 15px 10px;
}

#mobile-nav li {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
}

#mobile-nav a:hover {
    color: #fff;
}

.nav-link {
    padding: 10px 20px;
    width: 100%;
    display: block;
}

a.icon {
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#mobile-nav a.icon:hover {
    color: var(--dark-grey);
}

a.icon:hover {
    color: var(--dark-grey);
}

#osteo-mob-nav, #pilates-mob-nav {
    display: none;
    padding-left: 30px;
    background-color: #97deff;
}

#osteo-lg-nav, #pilates-lg-nav {
    display: none;
    position: absolute;
    top: 150px;
    left: 0;
    background-color: var(--blue);
    width: 100%;
    padding: 15px 5%;
    justify-content: center;
    font-size: var(--type-small);
}

#osteo-lg-nav a:hover, #pilates-lg-nav a:hover {
    color: #fff;
}

#osteo-up, #osteo-down, #pilates-up, #pilates-down {
    padding: 0 0 0 5px;
}

@media only screen and (min-width: 750px) {
    #contact-details {
        justify-content: flex-end;
        font-size: var(--type-small);
    }

    #email {
        display: block;
    }
    
    #contact-details a {
        padding: 2px 10px;
    }

    #mob-nav-icon {
        display: none;
    }

    #main-nav {
        display: flex;
        justify-content: flex-end;
    }

    #nav-bar {
        grid-template-columns: 1fr 3fr;
    }

    nav {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    #logo {
        grid-column-start: 1;
    }

    #mobile-nav {
        display: none;
    }
}

/* ************* */
/* FOOTER STYLES */
/* ************* */

footer {
    background-color: var(--blue);
    color: #fff;
    width: 100%;
}

.footer-grid {
    padding: 20px 0 1px 0;
}

#links-heading h3 {
    text-align: left;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

footer li {
    margin: 5px 0;
}

footer a {
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
    color: #fff
}

.goc {
    padding: 15px 0;
    width: 300px;
    justify-self: end;
}

.goc img {
    max-width: 125px;
}

#social-icons a {
    margin-right: 10px;
}

@media only screen and (max-width: 750px) {
    .footer-left ul {
        margin-bottom: 0;
    }
    
    .footer-center ul {
        margin-top: 0;
    }
}

@media only screen and (min-width: 750px) {
    .footer-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: start;
        font-size: var(--type-small);
    }

    .footer-right {
        text-align: right;
    }

    #links-heading {
        grid-column-start: 1;
        grid-column-end: 3;
        align-self: center;
    }

    #social-icons {
        grid-row-start: 1;
        grid-column-start: 3;
    }

    #social-icons a {
        margin-right: 0;
        margin-left: 10px;
    }

    #copyright {
        grid-row-start: 3;
        grid-column-start: 1;
    }
}

/* *************** */
/* HOMEPAGE STYLES */
/* *************** */

#home-banner {
    background-image: url('./img/the-manor-pond.jpeg');
    background-position: center;
}

#home-banner h1, #home-banner h2 {
    text-shadow: 2px 2px 2px var(--dark-grey);
}

.emily-pic {
    max-width: 450px;
    margin: auto;
    padding: 20px;
}

.map {
    height: 400px;
    width: 100%;
    margin: 20px auto 30px auto;
}

.appointment-times {
    padding-left: 0;
    margin-bottom: 30px;
}

.day-hours {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

@media only screen and (min-width: 750px) {
    #home-banner {
        height: 75vh;
    }

    .emily-pic {
        justify-self: end;
        align-self: center;
        transform: rotate(350deg);
    }

    .about .two-col {
        grid-gap: 0 5%;
    }

    #conditions .one-col{
        text-align: left;
    }
}

/* ********** */
/* FAQ STYLES */
/* ********** */

.price-list {
    padding-left: 0;
    margin: 10px 0;
}

.band-price {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.price {
    justify-self: center;
}

@media only screen and (min-width: 750px) {
    .band-price {
        grid-template-columns: 2fr 1fr;
    }

    .price {
        justify-self: left;
    }
}

/* ***************** */
/* OSTEOPATHY STYLES */
/* ***************** */

#osteopathy-banner {
    background-image: url('./img/neck-treatment-banner.jpg');
    background-position: right;
}

@media only screen and (min-width: 750px) {
    #osteopathy-banner {
        height: 50vh;
    }
}

/* ************** */
/* PILATES STYLES */
/* ************** */

#pilates-banner {
    background-image: url('./img/pilates-banner.jpg');
    background-position: center;
}

.address {
    list-style-type: none;
    padding: 20px;
    border-left: 7px solid var(--blue);
    background-color: var(--light-blue);
    box-shadow: 0 2px 3px 2px hsla(100, 0%, 50%, .3);
}

@media only screen and (min-width: 750px) {
    #pilates-banner {
        height: 50vh;
    }
}