/* ******************** */
/* RESETS AND VARIABLES */
/* ******************** */

:root {
  --type-base: calc(1.4em + 0.5vw);
  --type-xxxx-small: 30%;
  --type-xxx-small: 55%;
  --type-xx-small: 65%;
  --type-x-small: 75%;
  --type-small: 85%;
  --type-medium: 100%;
  --type-large: 120%;
  --type-x-large: 160%;
  --type-xx-large: 200%;
  --type-xxx-large: 300%;
  --type-xxxx-large: 400%;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 16px;
} @supports (display: grid) {
    html {font-size: 10px;}
}

body {
    margin: 0;
    font-size: var(--type-base);
    color: #616161;
}

a {
    text-decoration: none;
    color: #505050;
}

a:hover {
    color: #38c0ff;
}

p a {
    text-decoration: underline;
    color: #0000ed;
}

/* ************* */
/* GLOBAL STYLES */
/* ************* */

h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: var(--type-xxx-large);
    font-weight: 300;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

h2 {
    color: #fff;
    font-size: var(--type-xx-large);
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: var(--type-x-large);
    margin: 0;
}

h4 {
    margin: 0 0 10px 0;
}

.wrapper {
    width: 100%;
}

.header-container {
    width: 95%;
    max-width: 1200px;
    margin: auto;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
}

.container h3 {
    text-align: center;
}

.grey {
    background-color: #e6e6e4;
}

.blue {
    background-color: #38c0ff;
    color: white;
}

i {
    padding-right: 5px;
}

.btn {
    text-align: center;
    display: block;
    padding: 15px 20px;
    background-color: #fff;
    color: #38c0ff;
    border-radius: 5px;
    margin: 30px auto;
    width: 100%;
    max-width: 595px;
    text-decoration: none;
    border: 1px solid #38c0ff;
    transition: all 500ms ease 0s;
}

.btn:hover {
    background-color: #38c0ff;
    color: #fff;
}

#map {
    height: 400px;
    width: 100%;
    border: 1px solid #505050;
    margin-bottom: 50px;
}

/* ************ */
/* MODULE SYLES */
/* ************ */

.banner {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.two-col {
    width: 100%;
    padding: 30px 0 0 0;
}

.text-col {
    width: 95%;
    margin: auto;
    padding-bottom: 30px;
}

.image-col {
    margin: 0 0 -5px 0;
}

@media only screen and (min-width: 1000px) {
    .one-col {
        text-align: center;
    }

    .two-col {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        grid-gap: 5%;
        width: 95%;
        max-width: 1200px;
        text-align: left;
    }

    .l-r {
        grid-row-start: 1;
        grid-column-start: 2;
    }

    .r-l {
        grid-row-start: 1;
        grid-column-start: 1;
    }

    .two-col h3 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .text-col, .image-col {
        max-width: 595px;
        margin: 0;
    }

    .image-col img {
        border-radius: 5px;
        box-shadow: 2px 2px 5px 1px #505050;
    }
}

/* ************* */
/* HEADER STYLES */
/* ************* */

#contact-details {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#email {
    display: none;
}

#nav-bar {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    text-align: center;
}

#logo {
    grid-column-start: 2;
}

#logo img {
    max-width: 205px;
}

#main-nav, #times, #osteo-minus, #osteo-up {
    display: none;
}

#main-nav i {
    vertical-align: middle;
}

#mobile-nav {
    display: none;
    background-color: #e6e6e4;
    margin: 5px -2.5% 0 -3%;
    padding-bottom: 5px;
}

nav {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    font-size: var(--type-medium);
    padding: 2px;
    color: #505050;
    margin-left: 2px;
    text-align: left;
}

nav a {
    padding: 15px 10px;
}

#mobile-nav li {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;

}

.nav-link {
    padding: 10px 20px;
    width: 100%;
    display: block;
}

a.icon {
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

a.icon:hover {
    color: #505050;
}

#osteo-mob-nav {
    display: none;
    padding-left: 30px;
    background-color: #eeeeee;
}

#osteo-lg-nav {
    display: none;
    position: absolute;
    top: 140px;
    left: 0;
    background-color: #38c0ff;
    width: 100%;
    padding: 15px 20%;
    justify-content: center;
}

#osteo-lg-nav a:hover {
    color: #fff;
}

#osteo-up, #osteo-down {
    padding: 0 0 0 5px;
}

@media only screen and (min-width: 750px) {
    #contact-details {
        justify-content: flex-end;
        font-size: var(--type-small);
    }

    #email {
        display: block;
    }
    
    #contact-details a {
        padding: 2px 10px;
    }

    #mob-nav-icon {
        display: none;
    }

    #main-nav {
        display: flex;
        justify-content: flex-end;
    }

    #nav-bar {
        grid-template-columns: 1fr 3fr;
    }

    nav {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    #logo {
        grid-column-start: 1;
    }

    #mobile-nav {
        display: none;
    }
}

/* ************* */
/* FOOTER STYLES */
/* ************* */

footer {
    background-color: #38c0ff;
    color: #fff;
    width: 100%;
}

.footer-grid {
    padding: 20px 0 1px 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

footer li {
    margin: 5px 0;
}

footer a {
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
    color: #fff
}

@media only screen and (max-width: 750px) {
    .footer-left ul {
        margin-bottom: 0;
    }
    
    .footer-center ul {
        margin-top: 0;
    }
}

@media only screen and (min-width: 750px) {
    .footer-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: start;
        font-size: var(--type-small);
    }

    .footer-right {
        text-align: right;
    }

    #links-heading {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #social-icons {
        grid-row-start: 1;
        grid-column-start: 3;
    }

    #copyright {
        grid-row-start: 3;
        grid-column-start: 1;
    }
}

/* *************** */
/* HOMEPAGE STYLES */
/* *************** */

#home-banner {
    background-image: url('./img/neck-treatment-2-banner.jpg');
}

@media only screen and (min-width: 750px) {
    .banner {
        height: 75vh;
    }
}